# ==========================
# OS Specific (Windows / macOS)
# ==========================
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# ==========================
# MATLAB Generic
# ==========================
*.asv
*.mex*
*.mexw64
*.mexmaci64
*.mexa64


# ==========================
# MATLAB Drive Specific
# ==========================
.MATLABDriveTag
*.mw


# ==========================
# GUILDA Generic
# ==========================
@GUILDA/user/
_GUILDAsystem/@Bus/add_component.m
_GUILDAsystem/@PowerNetwork/add_branch.m


# ==========================
# GUILDA export data
# ==========================
_GUILDAexport
 


# If you want to track the folder structure but ignore content,
# uncomment the following line (requires a .gitkeep file inside)
# !@GUILDA/user/.gitkeep
